n8n/telegram-notify.json
{
  "name": "🍽️ Crepe Corner — طلب جديد → Telegram",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Receive Order",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 300],
      "typeVersion": 2,
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-order",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "if-1",
      "name": "Validate Order",
      "type": "n8n-nodes-base.if",
      "position": [440, 300],
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.body.customerName }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } },
            { "id": "c2", "leftValue": "={{ $json.body.phone }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } },
            { "id": "c3", "leftValue": "={{ $json.body.items.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "reject-1",
      "name": "Reject Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [680, 460],
      "typeVersion": 1,
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required fields' }) }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "code-1",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "position": [680, 160],
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body;\nconst { customerName, phone, address, items, totalPrice, deliveryNotes, serviceType, paymentMethod, orderNumber, orderId } = body;\n\nconst itemLines = items\n  .map(i => `• ${i.name} ×${i.quantity} — ${Number(i.price) * Number(i.quantity)} ج.م`)\n  .join('\\n');\n\nconst time = new Date().toLocaleString('ar-EG', {\n  timeZone: 'Africa/Cairo',\n  dateStyle: 'short',\n  timeStyle: 'short'\n});\n\nconst lines = [\n  '🍽️ *طلب جديد!*',\n  `🔢 *${orderNumber || ''}*`,\n  `🕐 ${time}`,\n  '',\n  '👤 *العميل*',\n  `الاسم: ${customerName}`,\n  `📞 ${phone}`,\n];\nif (address) lines.push(`📍 ${address}`);\nif (serviceType) lines.push(`النوع: ${serviceType}`);\nif (paymentMethod) lines.push(`الدفع: ${paymentMethod}`);\nif (deliveryNotes) lines.push(`📝 _${deliveryNotes}_`);\nlines.push('', '📦 *الأصناف*', itemLines, '', `💰 *الإجمالي: ${Number(totalPrice) + 15} ج.م*`);\n\nconst message = lines.join('\\n');\n\nconst keyboard = [\n  [\n    { text: '👨‍🍳 جاري التحضير', callback_data: `st:${orderId}:preparing` },\n    { text: '🛵 في الطريق', callback_data: `st:${orderId}:on_the_way` }\n  ],\n  [\n    { text: '✅ تم التوصيل', callback_data: `st:${orderId}:delivered` },\n    { text: '🚫 ملغي', callback_data: `st:${orderId}:cancelled` }\n  ]\n];\n\nreturn [{ json: { message, keyboard } }];"
      }
    },
    {
      "id": "tg-1",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [920, 160],
      "typeVersion": 1.2,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: $json.keyboard }) }}"
        }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram Bot" } }
    },
    {
      "id": "respond-1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1160, 160],
      "typeVersion": 1,
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": { "responseCode": 201 }
      }
    }
  ],
  "connections": {
    "Receive Order":  { "main": [[{ "node": "Validate Order",  "type": "main", "index": 0 }]] },
    "Validate Order": { "main": [[{ "node": "Format Message",  "type": "main", "index": 0 }], [{ "node": "Reject Invalid", "type": "main", "index": 0 }]] },
    "Format Message": { "main": [[{ "node": "Send Telegram",   "type": "main", "index": 0 }]] },
    "Send Telegram":  { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
